
Django==4.2
django-bootstrap-static==4.2.1
django-ckeditor==6.5.1
django-cors-headers==3.14.0
django-font-awesome==4.6.1
django-rest-framework==0.1.0
django-static-fontawesome==6.4.0.0
djangorestframework==3.14.0
Pillow==9.5.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
